<!DOCTYPE html>
<html lang="en" {% block html_attrs %}{% endblock %}>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <title>
        {% block title %}Membr{% endblock %}
    </title>

    {% block head %}
    {% endblock %}
</head>

<body {% block body_attrs %}{% endblock %}>
{% block body %}
{% endblock %}
</body>
</html>
